
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid p-4">
    <a class="navbar-brand fs-1 fw-bold text-white " routerLink="home">Start Framework </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg- gap-5">

        <li class="nav-item">
          <a class="nav-link fs-4 fw-bold" routerLink="about" routerLinkActive="btn p-2 ">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 fw-bold"  routerLink="portfolio" routerLinkActive="btn p-2">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 fw-bold" routerLink="contact" routerLinkActive="btn p-2">CONTACT</a>
        </li>

      </ul>

    </div>
  </div>
</nav>






