<div class="contact py-5">
  <div class="container p-5  d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center gap-3 p-3">
      <h1 class="display-4 fw-bold ">CONTACT </h1>

      <h1 class="display-4 fw-bold ">SECTION</h1>
    </div>
    <div class="line d-flex align-items-center gap-2">
      <div ></div>
      <i class="fa-solid fa-star fs-4  p-3"></i>
      <div ></div>
    </div>



    <form action="">

      <div class="row g-5 mt-5" >
        <div class="col-md-12 col-lg-12">
          <input type="text"  class="form-control p-4" placeholder="userName">
        </div>
        <div class="col-md-12 col-lg-12">
          <input type="text"  class="form-control p-4" placeholder="userAge">
        </div>
        <div class="col-md-12 col-lg-12">
          <input type="text"  class="form-control p-4 " placeholder="userEmail">
        </div>
        <div class="col-md-12 col-lg-12">
          <input type="text"  class="form-control p-4" placeholder="userPassord">
        </div>
        <button class="btn p-2 fs-5">send Message</button>
      </div>
    </form>
  </div>
</div>
