<div class="about py-5 ">
  <div class="container p-5  d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center gap-2 p-3">
      <h1 class="display-4 fw-bold text-white">ABOUT </h1>
      <h1 class="display-4 fw-bold text-white">COMPONENT</h1>
    </div>
    <div class="line d-flex align-items-center gap-2">
      <div ></div>
      <i class="fa-solid fa-star fs-4 text-white p-3"></i>
      <div ></div>
    </div>

    <div class="row row-cols-lg-2 row-cols-md-2 fs-5 text-white">
      <div>
        <div class="inner">

    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

    </p>
        </div>
      </div>

      <div>
        <div class="inner">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
