<div class="footer p-5 ">

  <div class="content  container p-5">

<div class="row row-cols-md-3 row-cols-lg-3  d-flex g-5  justify-content-center  align-items-center text-center justify-content-between ">
  <div>
    <div class="inner">
      <div class="txt-1 ">
        <h3 class="fs-1">LOCATION</h3>
      <h6 class="fw-light fs-2 ">2215 John Daniel Drive </h6>
      <h6 class="fw-light  fs-2">Clark, MO 65243  </h6>
      </div>
    </div>
  </div>

  <div>
    <div class="inner">
      <div class="txt-2">
        <h3 class="h4 fs-1">AROUND THE WEB </h3>
        <div class="icons  d-flex gap-2 justify-content-center">
          <i class="fa-brands fa-facebook rounded rounded-circle p-3 fs-3  border border-1"></i>
          <i class="fa-brands fa-twitter rounded rounded-circle p-3 fs-3  border border-1"></i>
          <i class="fa-brands fa-linkedin rounded rounded-circle p-3 fs-3  border border-1"></i>
          <i class="fa-solid fa-globe rounded rounded-circle p-3 fs-3  border border-1"></i>
        </div>
      </div>
    </div>
  </div>

 <div>
  <div class="inner">
    <div class="txt-3">
      <h3 class="h4 fs-2 ">ABOUT FREELANCER</h3>
      <p class="fw-light  fs-4">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>
  </div>
 </div>
</div>
  </div>

</div>

<div class="texts p-4 m-0 text-white text-center">
  <h3 class="h6 fw-light">Copyright © Your Website 2021</h3>
  </div>

